
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #1b5e20; 
  overflow: hidden; 
}


.main-header {
  background-color: #144317;
  color: white;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  border-bottom: 3px solid #c62828;
}


.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 75px);
}


#auth-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px; 
  border-top: 6px solid #c62828;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


#main-section {
  width: 100%;
  max-width: 900px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


#main-section .card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  width: 100%; 
}


textarea {
  width: 100%;
  height: 22vh; 
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
  outline: none;
  background: #fafafa;
  line-height: 1.6;
  resize: none; 
}

#res {
  direction: rtl; 
  text-align: right;
  color: #1b5e20;
  font-weight: 600;
  background: #f1f8f1;
}


.input-group {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.action-bar {
  width: 100%;
  margin: 5px 0;
}

.primary-btn {
  width: 100%;
  background-color: #c62828;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

#logout-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}